### Conda reqs
#conda install cudatoolkit==9.0 cudnn=7.6.0=cuda9.0_0
#conda install -c anaconda nb_conda 

attrs==19.1.0
backcall==0.1.0
bleach==3.1.1
certifi==2019.6.16
cffi==1.12.3
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter-client==5.3.1
jupyter-core==4.5.0
MarkupSafe==1.1.1
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
nb-conda==2.2.1
nb-conda-kernels==2.2.2
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.0.0
numpy==1.16.4
olefile==0.46
pandocfilters==1.4.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
pyrsistent==0.14.11
python-dateutil==2.8.0
pyzmq==18.0.0
Send2Trash==1.5.0
six==1.12.0
terminado==0.8.2
testpath==0.4.2
torch==1.1.0
torchvision==0.3.0
tornado==6.0.3
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
